/* Layers: 

2: Modals
3: Messages
4: Loading-animation

*/


/* #region Correct animation */
.correct-animation-container {
    color: #4FC3F7;
    width: 320px;
    height: 320px;
    justify-content: center;
    text-align: center;
    display: auto;
    
    animation: correctAnimation 1.5s ease-in-out forwards;
    opacity: 0;
    overflow: visible;
    display: block;
    margin: auto;
}
.correct-animation-text {
  color: #fff;
  font-size: 16px;
}

@keyframes correctAnimation {
    0% {
        transform: scale(0.9) ;
        opacity: 0;
    }
    30% {
        
        opacity: 1;
    }
    50% {
        transform: scale(1.1) ;
    }
    70% {
        
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}
/* #endregion*/

/* #region Wrong animation */
.wrong-animation-container {
    margin: auto;
    width: 300px;
    height: 300px;
    justify-content: center;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-name: wrongAnimation;
    opacity: 0;
    overflow: visible;
    text-align: center;

    display: flex;
    align-items: center;
    transform-origin: center;
    flex-direction: column;
}
.wrong-animation-text {
  color: #fff;
  font-size: 16px;
}

@keyframes wrongAnimation {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
     0%, 20%, 40%, 60%, 80% {
        transform: translateX(-10%);
     }
     10%, 30%, 50%, 70%, 90% {
        transform: translateX(10%);
     }
     80% {
        opacity: 1;
     }
      100% {
          opacity: 0;
      }
}
/* #endregion */

/*#region Fade */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

/*#endregion */

/* #region Loader Animation*/

/* Loader animation inspired by https://cssloaders.github.io/ */
.loader {
  position: absolute;
  width: 50px;
  height: 50px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);

  border: 3px solid #ffffff;
  border-bottom-color: #134d8b;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  z-index: 4;
}
    
@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/*#endregion */