

.message-container {
    position: absolute;
    left: 10px;
    top:110px;
}
.message {
    position: relative;
    border-radius: 10px;
    color: #fff;
    border: #F7AB4F 2px solid;
    
    transition: all 0.3s ease;

    

    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    box-shadow:
            0 8px 32px rgba(0, 0, 0, 0.1),
            inset 0 1px 0 rgba(255, 255, 255, 0.5),
            inset 0 -1px 0 rgba(255, 255, 255, 0.1);

 

    margin-left: -100%;
    width: 270px;

    padding: 15px 20px 15px 20px;
    margin-top: 15px;

    /* Shadow */
    box-shadow: 1px 2px 15px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 1px 2px 15px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 1px 2px 15px -1px rgba(0, 0, 0, 0.39);
    /* Message should always be on top*/
    z-index: 1000;
}

.message.received {
    margin-left: 0%;

}